* text=auto

*.py text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.csv text eol=lf
*.cff text eol=lf
*.toml text eol=lf
*.ini text eol=lf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.xlsx binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
